name: Update docs

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install VuePress
      run: npm install -g vuepress

    - name: Install Dependencies
      run: npm install

    - name: Generate Static Files
      run: npm run docs:build

    - name: Copy Files
      run: cp -r files/. docs/.vuepress/dist

    - name: Deploy
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: docs/.vuepress/dist
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
